.app {
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;
    grid-template-columns: 200px auto;
    grid-template-rows: 80px auto;
    row-gap: 15px;

    grid-template-areas:
            " header header"
            "sidebar content";
}

.content {
    grid-area: content;
    background-color: #f5eec3;
}







